.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24
}
.letterpress-shadow {
    box-shadow: 24px 0 40px rgba(182, 0, 81, 0.06)
}
.sun-gradient {
    background: linear-gradient(135deg, #8b4b00 0%, #ff8f00 100%)
}
.stucco-texture {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCQ2ILNvpKNg3Ksa8YZBpXUdoxlQoY0UlGWIqK8ZmtoSxw1EBOxm7tHpJYywcLXxfGTzzcKLj9nL3hxqDoDDHU7HKRVnH7k5RlW5vnJ9d_RKB-92kVxalqnQBGa6R0KEWk4BT_oplu3Hd9yGnukSis-y3p1470i00mu7DREELjvoeTeAySWebt7OAMo6zL-8C03G5zuvs4d2g1NohQI1w_DgIuvL9_VwPwxHwRerwe8qRHUINR5-WljqcOoYlMGcEGfjQd2RaIEq6o)
}
